.stm_zoom_table-wrap {
    width: 100%;
    overflow-x: auto;
    .stm_zoom_table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        min-width: 1000px;
        margin-bottom: 30px;
        th, td {
            padding: 8px 10px;
            border-bottom: 1px #ccc solid;
        }
    }


}










